POSTGRES_PASSWORD=...
POSTGRES_USER=...
POSTGRES_DB=...
POSTGRES_HOST=...

API_WORKERS_PER_CORE=1
API_HOST=0.0.0.0
API_PORT=8000
API_LOG_LEVEL=debug

PASSWORD_SALT=...
TOKEN_SECRET=...
# 15 minutes
ACCESS_TOKEN_TTL=15
# 15 days
REFRESH_TOKEN_TTL=21600

REDIS_PREFIX=...
REDIS_HOST=...

YANDEX_CLIENT_ID=...
YANDEX_CLIENT_SECRET=...
