POSTGRES_PASSWORD=...
POSTGRES_USER=...
POSTGRES_DB=...
POSTGRES_HOST=...
POSTGRES_PORT=...

API_WORKERS_PER_CORE=...
API_HOST=...
API_PORT=...
API_LOG_LEVEL=...

PASSWORD_SALT=...
TOKEN_SECRET=...
ACCESS_TOKEN_TTL=...
REFRESH_TOKEN_TTL=...

REDIS_PREFIX=...
REDIS_HOST=...

YANDEX_CLIENT_ID=...
YANDEX_CLIENT_SECRET=...
DAYS_LIMIT=...
HOURS_LIMIT=...
